# Python files
*.py[cod]
__pycache__/
*.so

# Mac OS files
.DS_Store
.AppleDouble
.LSOverride

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
env/
*.env

# PyTorch model files
*.pt


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite3

# Other
*.bak
*.swp
*.tmp
